/web/bundles/
/var/bootstrap.php.cache
/app/config/parameters.yml
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/
/var/logs/*
/var/cache/*
/var/sessions/*