{% if flashMessage is not defined %}
    <div class="alert alert-success hidden" id="message" role="alert">
        <div class="container">
            <span id="user-message"></span>
        </div>
    </div>
{% endif %}

{% for flash_message in app.session.flashBag.get('mensaje') %}
    <div class="alert alert-success" role="alert">
        <div class="container">
            {{ flash_message }}
        </div>
    </div>
{% endfor %}