{% for flash_message in app.session.flashBag.get('mensaje') %}
    <div class="alert alert-success" role="alert">
        <div class="container">
            {{ flash_message }}
        </div>
    </div>
{% endfor %}